<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496402510831-kgs0tga1bhvqe2eht9lascvba3rn1ad2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496402510831-kgs0tga1bhvqe2eht9lascvba3rn1ad2</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Xv2Mmo8HUUE1rxkcwZwGJoNTGKNsJN8</string>
	<key>GCM_SENDER_ID</key>
	<string>496402510831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starbike.macworld</string>
	<key>PROJECT_ID</key>
	<string>star-bike-b7d5a</string>
	<key>STORAGE_BUCKET</key>
	<string>star-bike-b7d5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496402510831:ios:ab5bbc9f08b9ab1614bc1a</string>
</dict>
</plist>